.banner {
	background-color: #BBDED6;
	padding : 40px;
}

.banner .img-logo { 
	width: 300px;
	height: 250px;
	margin: auto;
	display: flex;  
}

.banner h3 {
	font-weight: 40px;
	text-align: center;
	font-weight: bold;
	}

.banner .btn-grey {
	left: 20px;
	bottom: 20px;
}


.banner .icon-bar {
    position: absolute;
    right: 25px;
    margin-top: -25px;
    display: inline;
}

.banner .icon-sm {
	width: 75px;
  height: 75px;

}



@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .banner {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .banner {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .banner {
    width: 300px;
  }
}