.btn-grey {
	background-color: #DFD8C8;
	color: black;
	padding : 5px 10px;
	border-radius: 5px;
	font-size: 20px;
	font-family: Roboto;
	text-decoration: none;
	font-weight: bold; 
	margin: 20px;
}

.btn-blue {
	background-color: #BBDED6;
	color: black;
	padding : 5px 10px;
	border-radius: 5px;
	font-size: 20px;
	font-family: Roboto;
	text-decoration: none;
	font-weight: bold; 
	margin: 20px;
}
