.card {
        border-radius: 10px;
        vertical-align: middle;
        width: 900px;
        height:550px;
 }

.card img {
        width: 900px;
        height: 550px;
        border-radius: 10px;
}

.card-homepage {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.card btn-grey{ 
    
}




