.card {
        border-radius: 10px;
        vertical-align: middle;
        width: 900px;
        height:550px;
 }

.card img {
        width: 900px;
        height: 550px;
        border-radius: 10px;
}

.card-homepage{
        padding: 30px;
        display: flex;
        align-items: center;
}

.card-homepage H2 {
        width: 360px;
        height: 350px;
        right: 25px;
        position: absolute;

}

.card-homepage a {
        position: relative;
        right: 225px;
        margin-bottom: -320px;
        text-align: center;
}

.card-homepage p {
        line-height: 40px;
        font-size: 20px;
        text-align: center;
        margin-right : auto;
}

.card-plan {
        border-radius: 10px;
        vertical-align: middle;
        padding: 30px;
        display: flex;
        align-items: center;
        padding: 40px;
}


