.topnav {
  overflow: hidden;
  background-color: #DFD8C8;
  border-radius: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #BBDED6;
  color: white;
}

.topnav a.active {
  background-color: #BBDED6;
  color: white;
}

.topnav .search-container {
  float: right;
  border-radius: 5px
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-radius: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #BBDED6;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.topnav .search-container button:hover {
  background-color: #DFD8C8;
  border: 5px #BBDED6 solid;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border-radius: 5px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
