/*Marvellous Island Festival page*/


.image1 {
        border-radius: 10px;
        vertical-align: middle;
        width: 800px;
        height:550px;
        margin-bottom: 30px
 }

.image1 img {
        width: 900px;
        height: 400px;
        border-radius: 10px;
}
